<div className='collapse main-menu-wrapper' styleName='MenuWrapper'>
    <div className='main-menu' styleName='Menu'>
        <li key={menuItem.label}>
            <a styleName='Menu__link' routerLink="/">

            </a>
        </li>

        <li className='dropdown'>
            <a styleName='Menu__link' routerLink="/">

            </a>
            <ul className='dropdown-menu dropdown-with-icons'>
                <li>
                    <a styleName='Menu__link' routerLink="/"></a>
                </li>
            </ul>
        </li>
    </div>
</div>