
            <li className='open'>
              <a href="#" className='dropdown-toggle' >
                  <img alt={currentLocaleSelection.altText} src={currentLocaleSelection.imageSrc} title={currentLocaleSelection.title}/>
              </a>
              <ul className='dropdown-menu'>
                      <li key={localeCode}>
                          <a href='#' >
                              <img alt={altText} id={localeCode} src={imageSrc} title={title}/> {{title}}
                          </a>
                      </li>
                  
              </ul>
          </li>
     